*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    line-height: 1.7em;
    overflow: auto;
}
a {
    text-decoration: none;
    color: white;

}
a:hover{
    color:  #f7c08f;
    background-color: #4b4b4b;
    transition: 2s;
}

h1, a{
    padding: 26px 18px;
}


header{
    text-align: center;
  

}

.navbar{
   
    background-color:  #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100vw;
    min-height: 11vh;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
    
}

.logo{
    
    color: white; 
    font-size: 2rem;   
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}






.container{
    display: flex;
    flex-direction: row wrap;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 30vh;
}


.img{
    width: 50%;
    height: 20%;
    border-radius: 5%;
   
        
}

.form{
    background-color: #efecec;
    border-top: 5px solid #f9af6f;
    border-radius: 5px;
    animation: bounce 1.5s infinite;
    width: 25vw;
    margin-top: 10px;
    margin-bottom: 10px;
}



#name{
    font-size: 18px;
    color: #333;
    background: #fff;
    width: 90%;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10%;

}

#name:hover{
    
    background-color:#f5d8bf ;
    transform: translateY(10px);
    transition: transform 3s;
}

#Email{
    font-size: 18px;
    color: #333;
    background: #fff;
    width: 90%;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;

}

#Email:hover{
    
    background-color:#f5d8bf ;
    transform: translateY(10px);
    transition: transform 3s;
}


#message{
    background: #fff;
    width: 90%;
    height: 200px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
}

#message:hover{
    
    background-color:#f5d8bf ;
    transform: translateY(30px);
    transition: transform 3s;
}

.button{
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 11px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10%;
}

.button:hover{
    color: #333;
    background-color:#f7c08f ;
    transform: translateY(30px);
    transition: transform 3s;
}


.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #353535;
    color: #fff;
    width: 100vw;
    height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



/* Footer */
#main-footer {
    width: 100vw;
    min-height: 35vh;
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    
}

.container3{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text1{
    color:  #f7c08f;
}
h3 {
    padding: 10px;
    
}

@media screen and (max-width: 420px){
  
    
    .navbar{
       
        background-color:  #333;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100vw;
        height: 15vh;
        font-size: 0.8rem; 
        
    }
    
    .logo{
        
        color: white; 
        font-size: 1rem;   
    }


    .container{
        display: flex;
        
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
       
        width: 100vw;
        min-height: 50vh;
        
    }
    
    
    .img{
        width: 180px;
        height: 170px;
        border-radius: 5%;
   
            
    }

    .form{

        width: 30vw;

    }
    
    #name{
       
        font-size: 10px;
        color: #333;
        background: #fff;
        width: 90px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        
    
    }
    
    #name:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(10px);
        transition: transform 4s;
    }

    
    #Email{
        font-size: 10px;
        color: #333;
        background: #fff;
        width: 90px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    
    }
    
    #Email:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(10px);
        transition: transform 4s;
    }
    
    
    #message{
        background: #fff;
        width: 90%;
        height: 90px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    }
    
    #message:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(15px);
        transition: transform 3s;
    }

    

.button{
    font-size: 5px;
    color: #fff;
    background: #333;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  
    
   
    
}

.button:hover{
    color: #333;
    background-color:#f7c08f ;
    transform: translateY(5px);
    transition: transform 5s;
}


    .container2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #353535;
        color: #fff;
        font-size: 0.5em;
        width: 100vw;
        height: 30vh;
    }


    .container3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 0.7rem;
        
    }

}



@media screen and (min-width: 420px)  and (max-width: 768px){

    .navbar{
       
        background-color:  #333;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100vw;
        min-height: 9vh;
        font-size: 0.9rem;
        
       
        
    }
    .logo{
        
        color: white; 
        font-size: 1.1rem;   
    }


    .container{
        display: flex;
        
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
       
        width: 100vw;
        min-height: 50vh;
        
    }
    
    
    .img{
        width: 200px;
        height: 190px;
        border-radius: 5%;
    
            
    }
    

    
    
    #name{
       
        font-size: 10px;
        color: #333;
        background: #fff;
        width: 140px;
        
        border: none;
        cursor: pointer;
        border-radius: 5px;
        
    
    }
    
    #name:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(10px);
        transition: transform 3s;
    }
    
    #Email{
        font-size: 10px;
        color: #333;
        background: #fff;
        width: 140px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    
    }
    
    #Email:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(10px);
        transition: transform 3s;
    }
    
    
    #message{
        background: #fff;
        width: 80%;
        height: 90px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    }
    
    #message:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(15px);
        transition: transform 3s;
    }

    

.button{
    font-size: 8px;
    color: #fff;
    background: #333;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
   
    
}

.button:hover{
    color: #333;
    background-color:#f7c08f ;
    transform: translateY(10px);
    transition: transform 4s;
}

    .container2{
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: #353535;
        font-size:0.9em;
        color: #fff;
        width: 100vw;
        height: 30vh;
    }

    .container3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        font-size: 0.6rem;
        
    }


}

@media screen and  (min-width: 768px)  and (max-width: 1024px){

    .navbar{
       
        background-color:  #333;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100vw;
        min-height: 9vh;
        font-size: 1rem;
        
       
        
    }
    .logo{
        
        color: white; 
        font-size: 1.5rem;   
    }


    
  
    #message{
        background: #fff;
        width: 90%;
        height: 130px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    }
    
    #message:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(15px);
        transition: transform 3s;
    }

    

.button{
    font-size: 12px;
    color: #fff;
    background: #333;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
   
    
}

.button:hover{
    color: #333;
    background-color:#f7c08f ;
    transform: translateY(30px);
    transition: transform 3s;
}


.container2{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #353535;
    font-size:0.9em;
    color: #fff;
    width: 100vw;
    height: 30vh;
}

}


@media screen and (min-width: 1024px)  and (max-width: 1280px){
    .navbar{
   
        background-color:  #333;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100vw;
        min-height: 11vh;
        font-size: 1.2rem;
        
       
        
    }
    
    .logo{
        
        color: white; 
        font-size: 1.8rem;   
    }

    #message{
        background: #fff;
        width: 90%;
        height: 160px;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5%;
    }
    
    #message:hover{
        
        background-color:#f5d8bf ;
        transform: translateY(30px);
        transition: transform 3s;
    }

    .button{
        font-size: 11px;
        color: #fff;
        background: #333;
        padding: 9px 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 6%;
       
        
    }
    
    .button:hover{
        color: #333;
        background-color:#f7c08f ;
        transform: translateY(30px);
        transition: transform 3s;
    }
}